/* line 26, sass/_helpers.scss */
.pargraph, .about .leftSide p, .about .leftSide ul li, .about .rightSide p, .plans .plansiction .planDis p, .trips .triptitle p, .trips .tripsBox .boxCont p {
  font-family: Gabriola;
  font-size: 25px;
  line-height: 27px; }

/* line 31, sass/_helpers.scss */
.heading, .about .leftSide h2, .Services .servHead, .cityes .cityHead, .trips .triptitle .tripsHead {
  color: #9390c1;
  font-family: Gabriola;
  font-size: 60px; }

/* line 36, sass/_helpers.scss */
.formSeting {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 30px 0px; }

/* line 42, sass/_helpers.scss */
.inputSeting {
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 10px;
  width: 80%;
  margin: 5px 0px; }

/* line 50, sass/_helpers.scss */
.subButton {
  width: 50%;
  height: 45px;
  background: #bbb8e8;
  border: 2px solid #fff;
  border-radius: 10px;
  margin-top: 20px;
  color: #fff;
  font-size: 20px; }

/* line 2, sass/_global.scss */
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  background: #f5f5f9; }

/* line 6, sass/_global.scss */
.spicyalHeading {
  border-bottom: 2px solid #bbb8e8; }
  /* line 8, sass/_global.scss */
  .spicyalHeading h3 {
    padding: 0px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background: #bbb8e8;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    color: #fff;
    margin: 0px; }

/*.spicyalHeading::before {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 2px solid $ridColor;
}*/
/* line 24, sass/_global.scss */
.hidden {
  display: none; }

/* line 27, sass/_global.scss */
#showMore {
  margin: 0px;
  background: #8f8ad8;
  color: #fff;
  padding: 10px 0px;
  text-align: center; }

/* line 35, sass/_global.scss */
.withBlueBac {
  background: #bbb8e8;
  color: #fff; }

/* line 39, sass/_global.scss */
.myLink {
  text-decoration: none;
  display: block;
  width: 100px;
  background: #8f8ad8;
  text-align: center;
  font-weight: bold;
  padding: 10px 0px;
  border-radius: 3px;
  color: #fff;
  /* font-family: Gabriola; */
  font-size: 17px;
  -webkit-transition: .6s;
  transition: .6s; }
  @media (max-width: 676px) {
    /* line 39, sass/_global.scss */
    .myLink {
      margin: 10px auto; } }
  /* line 55, sass/_global.scss */
  .myLink:hover {
    background: rgba(143, 138, 216, 0.59);
    color: #000; }

/* line 1, sass/sections/_header.scss */
.header {
  background-image: url(../img/bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative; }
  /* line 9, sass/sections/_header.scss */
  .header .headOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.72); }
    /* line 16, sass/sections/_header.scss */
    .header .headOverlay .fixedNav {
      background: #fff;
      -webkit-transition: .5s;
      transition: .5s; }
      /* line 19, sass/sections/_header.scss */
      .header .headOverlay .fixedNav .menu {
        background: #c1bdde; }
    /* line 23, sass/sections/_header.scss */
    .header .headOverlay .topNav {
      position: fixed;
      width: 100%;
      -webkit-transition: .5s;
      transition: .5s;
      z-index: 9; }
      /* line 28, sass/sections/_header.scss */
      .header .headOverlay .topNav .logo {
        float: left;
        margin: 0px;
        font-family: Brush Script Std;
        color: #c1bdde;
        font-size: 35px; }
      /* line 35, sass/sections/_header.scss */
      .header .headOverlay .topNav .menu {
        float: right;
        font-size: 25px;
        padding: 5px 15px;
        color: #fff;
        cursor: pointer;
        margin: 5px 0px;
        border-radius: 5px; }
    /* line 46, sass/sections/_header.scss */
    .header .headOverlay .navLinks {
      position: fixed;
      background: #060608;
      height: 0%;
      width: 0%;
      top: 0px;
      right: 0px;
      opacity: 0;
      overflow: hidden;
      z-index: 10; }
      /* line 58, sass/sections/_header.scss */
      .header .headOverlay .navLinks .clossmenu {
        position: absolute;
        top: 0px;
        right: 10px;
        color: #fff;
        font-size: 40px;
        margin: 0px;
        padding: 0px 10px;
        cursor: pointer;
        font-family: cursive; }
        /* line 68, sass/sections/_header.scss */
        .header .headOverlay .navLinks .clossmenu:hover {
          background: rgba(189, 195, 199, 0.2); }
      /* line 72, sass/sections/_header.scss */
      .header .headOverlay .navLinks ul {
        list-style-type: none;
        margin: 0px;
        padding: 30px 0px 0px 50px; }
        /* line 77, sass/sections/_header.scss */
        .header .headOverlay .navLinks ul li a {
          text-decoration: none;
          width: -webkit-max-content;
          width: -moz-max-content;
          width: max-content;
          color: #fff;
          display: block;
          font-size: 40px;
          padding: 5px 0px;
          font-family: MV Boli;
          font-weight: bold;
          -webkit-transition: .3s;
          transition: .3s; }
          @media (max-width: 676px) {
            /* line 77, sass/sections/_header.scss */
            .header .headOverlay .navLinks ul li a {
              font-size: 30px;
              padding: 10px 0px; } }
        /* line 93, sass/sections/_header.scss */
        .header .headOverlay .navLinks ul li a:hover {
          color: #76847f; }
        /* line 96, sass/sections/_header.scss */
        .header .headOverlay .navLinks ul .active a {
          font-size: 60px;
          color: #76847f; }
          @media (max-width: 676px) {
            /* line 96, sass/sections/_header.scss */
            .header .headOverlay .navLinks ul .active a {
              font-size: 50px;
              padding: 10px 0px; } }
          @media (min-width: 1200px) {
            /* line 96, sass/sections/_header.scss */
            .header .headOverlay .navLinks ul .active a {
              padding-left: 50px; } }
    /* line 109, sass/sections/_header.scss */
    .header .headOverlay .mintitle {
      padding-top: 150px; }
      /* line 111, sass/sections/_header.scss */
      .header .headOverlay .mintitle .titleBox {
        display: none; }
        @media (max-width: 676px) {
          /* line 111, sass/sections/_header.scss */
          .header .headOverlay .mintitle .titleBox {
            text-align: center; } }
        /* line 117, sass/sections/_header.scss */
        .header .headOverlay .mintitle .titleBox .withB::before {
          content: "for the adcvengrus sole";
          position: absolute;
          left: 5px;
          top: -10px;
          color: #c1bdde;
          font-size: 21px; }
          @media (max-width: 676px) {
            /* line 117, sass/sections/_header.scss */
            .header .headOverlay .mintitle .titleBox .withB::before {
              font-size: 18px;
              left: 0px;
              top: -17px; } }
        /* line 131, sass/sections/_header.scss */
        .header .headOverlay .mintitle .titleBox .title {
          color: #fff;
          margin: 0px;
          font-size: 100px;
          font-family: cursive;
          position: relative; }
          @media (max-width: 676px) {
            /* line 131, sass/sections/_header.scss */
            .header .headOverlay .mintitle .titleBox .title {
              font-size: 55px; } }
        /* line 141, sass/sections/_header.scss */
        .header .headOverlay .mintitle .titleBox .disciption {
          color: rgba(255, 255, 255, 0.84);
          font-family: Gabriola;
          font-size: 29px;
          width: 80%; }
          @media (max-width: 676px) {
            /* line 141, sass/sections/_header.scss */
            .header .headOverlay .mintitle .titleBox .disciption {
              font-size: 25px;
              width: 100%; } }
      /* line 152, sass/sections/_header.scss */
      .header .headOverlay .mintitle .active {
        display: block; }
      /* line 155, sass/sections/_header.scss */
      .header .headOverlay .mintitle .buttons {
        width: 240px;
        margin: 50px auto 0px auto; }
        /* line 158, sass/sections/_header.scss */
        .header .headOverlay .mintitle .buttons i {
          display: block;
          width: 100px;
          padding: 10px 0px;
          font-size: 40px;
          color: #fff;
          float: left;
          background: rgba(0, 0, 0, 0.34);
          margin: 0px 10px;
          text-align: center;
          font-weight: bold;
          cursor: pointer; }
        /* line 171, sass/sections/_header.scss */
        .header .headOverlay .mintitle .buttons .fa-angle-left {
          float: left; }
        /* line 172, sass/sections/_header.scss */
        .header .headOverlay .mintitle .buttons .fa-angle-right {
          float: right; }

/* line 1, sass/sections/_about.scss */
.about {
  padding: 70px 0px; }
  /* line 7, sass/sections/_about.scss */
  .about .leftSide p {
    margin: 0px; }
  /* line 11, sass/sections/_about.scss */
  .about .leftSide ul {
    list-style-type: none;
    padding: 20px; }
    /* line 14, sass/sections/_about.scss */
    .about .leftSide ul li {
      cursor: pointer; }
      @media (max-width: 991px) {
        /* line 14, sass/sections/_about.scss */
        .about .leftSide ul li {
          margin: 5px 0px; } }
      /* line 20, sass/sections/_about.scss */
      .about .leftSide ul li i {
        margin-right: 10px;
        font-size: 12px;
        background: #bbb8e8;
        padding: 3px;
        color: #fff; }
      /* line 27, sass/sections/_about.scss */
      .about .leftSide ul li .ansur {
        margin: 5px 0px;
        color: #81868a;
        font-weight: normal;
        display: none;
        width: 80%;
        padding-left: 30px; }
  /* line 39, sass/sections/_about.scss */
  .about .rightSide p {
    margin: 0px; }
    /* line 42, sass/sections/_about.scss */
    .about .rightSide p b {
      color: #bbb8e8; }

/* line 2, sass/sections/_servises.scss */
.Services {
  padding: 50px 0px; }
  /* line 7, sass/sections/_servises.scss */
  .Services .servBox {
    padding: 20px 0px; }
    /* line 9, sass/sections/_servises.scss */
    .Services .servBox .box {
      padding: 10px;
      height: 400px;
      width: 33.3333333333%;
      float: left; }
      @media (max-width: 991px) {
        /* line 9, sass/sections/_servises.scss */
        .Services .servBox .box {
          width: 50%; } }
      @media (max-width: 676px) {
        /* line 9, sass/sections/_servises.scss */
        .Services .servBox .box {
          width: 100%;
          float: inherit; } }
      /* line 21, sass/sections/_servises.scss */
      .Services .servBox .box .midel {
        position: relative;
        width: 100%;
        height: 100%; }
        /* line 25, sass/sections/_servises.scss */
        .Services .servBox .box .midel .front, .Services .servBox .box .midel .bac {
          position: absolute;
          overflow: hidden;
          -webkit-backface-visibility: hidden;
                  backface-visibility: hidden;
          -webkit-transition: -webkit-transform .6s linear;
          transition: -webkit-transform .6s linear;
          transition: transform .6s linear;
          transition: transform .6s linear, -webkit-transform .6s linear;
          height: 100%;
          width: 100%; }
        /* line 33, sass/sections/_servises.scss */
        .Services .servBox .box .midel .front {
          border: 5px solid #bbb8e8;
          -webkit-transform: perspective(600px) rotateY(0deg);
                  transform: perspective(600px) rotateY(0deg); }
          /* line 36, sass/sections/_servises.scss */
          .Services .servBox .box .midel .front img {
            width: 100%;
            height: 100%; }
        /* line 41, sass/sections/_servises.scss */
        .Services .servBox .box .midel .bac {
          background: #bbb8e8;
          color: #fff;
          padding: 10px;
          -webkit-transform: perspective(600px) rotateY(180deg);
                  transform: perspective(600px) rotateY(180deg); }
    /* line 49, sass/sections/_servises.scss */
    .Services .servBox .midel:hover > .front {
      -webkit-transform: perspective(600px) rotateY(-180deg);
              transform: perspective(600px) rotateY(-180deg); }
    /* line 52, sass/sections/_servises.scss */
    .Services .servBox .midel:hover > .bac {
      -webkit-transform: perspective(600px) rotateY(0deg);
              transform: perspective(600px) rotateY(0deg); }

/* line 1, sass/sections/_plans.scss */
.plans {
  padding: 50px 0px; }
  /* line 3, sass/sections/_plans.scss */
  .plans .plansiction {
    padding: 20px 0px; }
    /* line 5, sass/sections/_plans.scss */
    .plans .plansiction .planimg {
      width: 40%; }
      @media (max-width: 676px) {
        /* line 5, sass/sections/_plans.scss */
        .plans .plansiction .planimg {
          width: 100%; } }
      /* line 10, sass/sections/_plans.scss */
      .plans .plansiction .planimg img {
        width: 80%;
        margin: auto;
        border-radius: 50%;
        display: block; }
    /* line 17, sass/sections/_plans.scss */
    .plans .plansiction .planDis {
      width: 60%; }
      @media (max-width: 676px) {
        /* line 17, sass/sections/_plans.scss */
        .plans .plansiction .planDis {
          width: 100%;
          text-align: center; } }
      @media (min-width: 1200px) {
        /* line 17, sass/sections/_plans.scss */
        .plans .plansiction .planDis {
          padding-top: 50px; } }

/* line 1, sass/sections/_cityes.scss */
.cityes {
  padding: 50px 0px; }
  /* line 6, sass/sections/_cityes.scss */
  .cityes .cityBoxes {
    width: 100%;
    padding: 50px 0px; }
    /* line 10, sass/sections/_cityes.scss */
    .cityes .cityBoxes .bigDis {
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0px;
      left: 0px;
      background: rgba(0, 0, 0, 0.78);
      z-index: 11;
      display: none; }
      /* line 19, sass/sections/_cityes.scss */
      .cityes .cityBoxes .bigDis .wihtBox {
        background: #fff;
        padding: 10px;
        width: 90%;
        height: 80%;
        margin: auto;
        margin-top: 5%;
        position: relative; }
        /* line 27, sass/sections/_cityes.scss */
        .cityes .cityBoxes .bigDis .wihtBox .closBox {
          position: absolute;
          top: 0px;
          right: 0px;
          background: rgba(255, 255, 255, 0.44);
          height: 50px;
          width: 50px;
          padding: 0px;
          margin: 0px;
          text-align: center;
          font-size: 40px;
          color: black;
          cursor: pointer;
          -webkit-transition: .4s;
          transition: .4s; }
          /* line 41, sass/sections/_cityes.scss */
          .cityes .cityBoxes .bigDis .wihtBox .closBox:hover {
            background: rgba(241, 245, 249, 0.88); }
        /* line 45, sass/sections/_cityes.scss */
        .cityes .cityBoxes .bigDis .wihtBox .img {
          width: 100%;
          height: 80%; }
          /* line 48, sass/sections/_cityes.scss */
          .cityes .cityBoxes .bigDis .wihtBox .img img {
            width: 100%;
            height: 100%; }
        /* line 53, sass/sections/_cityes.scss */
        .cityes .cityBoxes .bigDis .wihtBox .imTitle {
          width: 100%;
          height: 20%; }
          /* line 56, sass/sections/_cityes.scss */
          .cityes .cityBoxes .bigDis .wihtBox .imTitle p {
            padding: 0px;
            margin: 5px 0px; }
    /* line 64, sass/sections/_cityes.scss */
    .cityes .cityBoxes .citImg {
      width: 25%;
      float: left;
      overflow: hidden;
      -webkit-animation: gallery 0.75s ease-out 0.4s forwards;
              animation: gallery 0.75s ease-out 0.4s forwards;
      margin-bottom: 0;
      position: relative;
      border: 1px solid #FFF;
      cursor: pointer; }
      @media (max-width: 676px) {
        /* line 64, sass/sections/_cityes.scss */
        .cityes .cityBoxes .citImg {
          width: 50%; } }
      /* line 76, sass/sections/_cityes.scss */
      .cityes .cityBoxes .citImg:hover > img {
        -webkit-transform: scale(1.075);
        transform: scale(1.075); }
      /* line 82, sass/sections/_cityes.scss */
      .cityes .cityBoxes .citImg img {
        width: 100%;
        margin: auto;
        vertical-align: middle;
        -webkit-transition: .5s;
        transition: .5s; }
      /* line 88, sass/sections/_cityes.scss */
      .cityes .cityBoxes .citImg h3, .cityes .cityBoxes .citImg p, .cityes .cityBoxes .citImg a {
        display: none; }

/* line 1, sass/sections/_trips.scss */
.trips {
  padding: 50px 0px; }
  /* line 4, sass/sections/_trips.scss */
  .trips .triptitle {
    width: 25%;
    float: left;
    height: 100%;
    padding-right: 20px;
    background: #d9d9e0;
    padding: 10px;
    text-align: center; }
    @media (max-width: 676px) {
      /* line 4, sass/sections/_trips.scss */
      .trips .triptitle {
        width: 100%; } }
    /* line 18, sass/sections/_trips.scss */
    .trips .triptitle p {
      margin: 10px 0px; }
    /* line 22, sass/sections/_trips.scss */
    .trips .triptitle .myLink {
      margin: 20px auto; }
  /* line 26, sass/sections/_trips.scss */
  .trips .tripsBox {
    width: 75%;
    float: left;
    padding: 0px 0px 0px 10px;
    position: relative;
    /*
        &:after {
          content: "";
          position: absolute;
          height: 20px;
          width: 20px;
          left: -15px;
          top: 40%;
          background: $bluoColor;
          display: block;
          transform: rotate(45deg);
        }
    */ }
    @media (max-width: 676px) {
      /* line 26, sass/sections/_trips.scss */
      .trips .tripsBox {
        width: 100%;
        border: none;
        padding: 0px; } }
    /* line 53, sass/sections/_trips.scss */
    .trips .tripsBox .boxCont img {
      width: 100%; }
    /* line 56, sass/sections/_trips.scss */
    .trips .tripsBox .boxCont p {
      margin: 10px 0px;
      line-height: 25px; }
    /* line 61, sass/sections/_trips.scss */
    .trips .tripsBox .boxCont h3 {
      padding: 0px 5px;
      margin: 10px 0px;
      color: #9390c1;
      font-family: Gabriola;
      font-size: 30px; }
    @media (max-width: 676px) {
      /* line 69, sass/sections/_trips.scss */
      .trips .tripsBox .scrollBotts {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin: auto;
        padding-top: 20px; } }
    /* line 75, sass/sections/_trips.scss */
    .trips .tripsBox .scrollBotts i {
      margin-right: 10px;
      display: block;
      width: 100px;
      background: #8f8ad8;
      text-align: center;
      font-weight: bold;
      padding: 5px 0px;
      border-radius: 3px;
      color: #fff;
      font-size: 25px;
      -webkit-transition: .6s;
      transition: .6s;
      cursor: pointer;
      float: left; }
      /* line 89, sass/sections/_trips.scss */
      .trips .tripsBox .scrollBotts i:hover {
        background: rgba(143, 138, 216, 0.59);
        color: #000; }

/* line 1, sass/sections/_contact.scss */
.contant {
  padding: 50px 0px; }
  /* line 3, sass/sections/_contact.scss */
  .contant .sendMail {
    padding: 50px 0px; }
    /* line 5, sass/sections/_contact.scss */
    .contant .sendMail p {
      width: 40%;
      margin: 5px 0px;
      font-family: Gabriola;
      color: #9390c1;
      font-size: 30px;
      float: left; }
      @media (max-width: 676px) {
        /* line 5, sass/sections/_contact.scss */
        .contant .sendMail p {
          float: none;
          width: 100%; } }
    /* line 18, sass/sections/_contact.scss */
    .contant .sendMail .mailFild {
      float: left;
      width: 55%;
      margin-left: 5%;
      background: #fff; }
      @media (max-width: 676px) {
        /* line 18, sass/sections/_contact.scss */
        .contant .sendMail .mailFild {
          float: none;
          width: 100%;
          margin-left: 0px; } }
      /* line 29, sass/sections/_contact.scss */
      .contant .sendMail .mailFild input {
        height: 40px;
        width: 80%;
        float: left;
        background: none;
        border: none;
        padding: 10px; }
      /* line 37, sass/sections/_contact.scss */
      .contant .sendMail .mailFild button {
        width: 20%;
        float: left;
        height: 40px;
        background: #9390c1;
        color: #fff;
        border: none;
        cursor: pointer;
        -webkit-transition: .5s;
        transition: .5s; }
        /* line 46, sass/sections/_contact.scss */
        .contant .sendMail .mailFild button:hover {
          background: #bbb8e8;
          color: #000; }
  /* line 54, sass/sections/_contact.scss */
  .contant .contantFilds {
    background: #bbb8e8; }
    @media (max-width: 676px) {
      /* line 54, sass/sections/_contact.scss */
      .contant .contantFilds {
        padding: 40px 0px; } }
    /* line 59, sass/sections/_contact.scss */
    .contant .contantFilds .leftSide {
      padding: 30px 0px; }
      /* line 61, sass/sections/_contact.scss */
      .contant .contantFilds .leftSide .contHead {
        color: #fff;
        font-family: Gabriola;
        font-size: 60px; }
      /* line 66, sass/sections/_contact.scss */
      .contant .contantFilds .leftSide p {
        color: #212340;
        font-family: Gabriola;
        font-size: 25px;
        line-height: 27px; }
      /* line 72, sass/sections/_contact.scss */
      .contant .contantFilds .leftSide .contFollow {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        border-bottom: 2px solid #fff;
        margin: 10px 0px;
        font-weight: bold; }
      /* line 79, sass/sections/_contact.scss */
      .contant .contantFilds .leftSide a i {
        color: #8f8cb5;
        width: 50px;
        height: 50px;
        border: 1px solid #8f8cb5;
        border-radius: 50%;
        text-align: center;
        padding-top: 9px;
        font-size: 30px;
        margin-right: 5px;
        -webkit-transition: .6s;
        transition: .6s; }
      /* line 91, sass/sections/_contact.scss */
      .contant .contantFilds .leftSide a:hover .fa-facebook {
        color: #fff;
        background: #3b5998;
        border: none; }
      /* line 96, sass/sections/_contact.scss */
      .contant .contantFilds .leftSide a:hover .fa-twitter {
        color: #fff;
        background: #1da1f2;
        border: none; }
      /* line 101, sass/sections/_contact.scss */
      .contant .contantFilds .leftSide a:hover .fa-instagram {
        color: #fff;
        background: #e1306c;
        border: none; }
      /* line 106, sass/sections/_contact.scss */
      .contant .contantFilds .leftSide a:hover .fa-youtube {
        color: #fff;
        background: #d1180a;
        border: none; }
    /* line 113, sass/sections/_contact.scss */
    .contant .contantFilds .rightSide {
      background: #9390c1; }
      /* line 115, sass/sections/_contact.scss */
      .contant .contantFilds .rightSide .cont-r {
        color: #fff;
        text-align: center;
        padding: 20px 0px; }
        /* line 119, sass/sections/_contact.scss */
        .contant .contantFilds .rightSide .cont-r i {
          font-size: 60px; }
        /* line 122, sass/sections/_contact.scss */
        .contant .contantFilds .rightSide .cont-r p {
          margin: 5px 0px; }
  /* line 128, sass/sections/_contact.scss */
  .contant .theMesseg {
    margin-top: 50px; }
    /* line 130, sass/sections/_contact.scss */
    .contant .theMesseg .messHead {
      color: #9390c1;
      font-family: Gabriola;
      font-size: 40px;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      border-bottom: 1px solid #8f8cb5;
      margin: 20px auto; }
    /* line 138, sass/sections/_contact.scss */
    .contant .theMesseg .inputsFild {
      text-align: center;
      margin: 0px auto;
      padding: 0px 10%; }
      /* line 142, sass/sections/_contact.scss */
      .contant .theMesseg .inputsFild input {
        width: 40%;
        margin: 10px 0px;
        background: none;
        border: 1px solid #9390c1;
        outline: none;
        padding: 10px;
        -webkit-transition: .5s;
        transition: .5s; }
      /* line 151, sass/sections/_contact.scss */
      .contant .theMesseg .inputsFild input:focus {
        width: 100%;
        -webkit-box-shadow: 0px 0px 6px -1px #03A9F4;
                box-shadow: 0px 0px 6px -1px #03A9F4;
        background: #fff; }
        @media (min-width: 1200px) {
          /* line 151, sass/sections/_contact.scss */
          .contant .theMesseg .inputsFild input:focus {
            width: 50%; } }
        @media (min-width: 992px) {
          /* line 151, sass/sections/_contact.scss */
          .contant .theMesseg .inputsFild input:focus {
            width: 70%; } }
      /* line 162, sass/sections/_contact.scss */
      .contant .theMesseg .inputsFild textarea {
        display: block;
        width: 100%;
        margin: auto;
        background: none;
        border: 1px solid #9390c1;
        outline: none;
        padding: 10px; }
        /* line 170, sass/sections/_contact.scss */
        .contant .theMesseg .inputsFild textarea:focus {
          -webkit-box-shadow: 0px 0px 6px -1px #03A9F4;
                  box-shadow: 0px 0px 6px -1px #03A9F4;
          background: #fff; }
      /* line 175, sass/sections/_contact.scss */
      .contant .theMesseg .inputsFild .sendButt {
        margin-top: 30px;
        width: 200px;
        height: 40px;
        background: #9390c1;
        color: #fff;
        border: none;
        -webkit-transition: .5s;
        transition: .5s;
        cursor: pointer;
        font-size: 20px;
        font-family: monospace; }
        /* line 186, sass/sections/_contact.scss */
        .contant .theMesseg .inputsFild .sendButt:hover {
          background: #bbb8e8;
          color: #000; }

/* line 1, sass/sections/_footer.scss */
.footer {
  padding-top: 50px;
  background: #9390c1;
  border-top: 3px solid #591e63; }
  /* line 5, sass/sections/_footer.scss */
  .footer .footerGrids {
    width: 25%;
    float: left; }
    @media (max-width: 676px) {
      /* line 5, sass/sections/_footer.scss */
      .footer .footerGrids {
        width: 100%; } }
    /* line 11, sass/sections/_footer.scss */
    .footer .footerGrids h2 {
      color: #591e63; }
    /* line 14, sass/sections/_footer.scss */
    .footer .footerGrids ul {
      padding: 15px 20px;
      margin: 0px; }
      /* line 17, sass/sections/_footer.scss */
      .footer .footerGrids ul li {
        color: #fff;
        margin: 10px 0px;
        font-size: 15px; }
  /* line 24, sass/sections/_footer.scss */
  .footer .copyRight {
    background: #591e63;
    padding: 15px;
    text-align: center; }
    /* line 28, sass/sections/_footer.scss */
    .footer .copyRight p {
      color: #fff;
      margin: 0px;
      font-family: Gabriola;
      font-size: 23px; }
