.footer {
  padding-top: 50px;
  background: $headingColor;
  border-top: 3px solid #591e63;
  .footerGrids {
    width: $minWidth / 4;
    float: left;
    @include phone {
      width: $minWidth ;
    }
    h2 {
      color:#591e63;
    }
    ul {
      padding: 15px 20px;
      margin: 0px;
      li {
        color: #fff;
        margin: 10px 0px;
        font-size: 15px;
      }
    }
  }
  .copyRight {
    background: #591e63;
    padding: 15px;
    text-align: center;
    p {
      color: #fff;
      margin: 0px;
      font-family: Gabriola;
      font-size: 23px;
    }
  }
}
